/* input { */
/*    display: block; */
/* } */ 

/* select { */
/*     display: block */
/* } */

/* textarea { */
/*     display: block; */
/* } */

.form-pay {
    width: 50%;
    max-width: 400px;
    max-width: 600px;
    margin: 20px;
}
