{% extends "base.html" %}
{% block title %}
    <title>Pay</title>
{% endblock %}
{% block body %}
    <form action="#" method="POST" name="pay" id="pay">
        <p>
            {{ form.amount.label }}
            {{ form.amount }}
        </p>
        <p>
            {{ form.currency.label }}
            {{ form.currency }}
        </p>
        <p>
            {{ form.description.label }}
            {{ form.description }}
        </p>

        <input type="submit" value="Оплатить">
    </form>
{% endblock %}
